html,
body {
  margin: 0;
  padding: 0;
}

.root {
  font-family: system-ui, sans-serif;
}

.Cell-dayOfMonth {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

.Content-text.Content-dateAndTitle {
  visibility: hidden;
}

div.Content-titleContainer path:nth-of-type(1) {
  display: none;
}
